version: "3.8"

services:
  web:
    build: .
    container_name: nginx_web
    ports:
      - "8080:80"
    restart: always
    volumes:
      - ./logs:/var/log/nginx
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"

